<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<!--<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all Ticket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


    &lt;!&ndash;import css sources&ndash;&gt;
    <style>
        body {
            background-color: #616161 !important;
        }

        a {
            text-decoration: none !important;
        }


        table,
        th,
        td {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            font-size: large;
            padding-right: 40px;
        }

        table {
            border-collapse: collapse;
        }
    </style>
    <script>
        function logoutFun() {
            localStorage.clear();
            sessionStorage.clear();
            window.location = "login.html";
        }
    </script>


</head>

<body>

&lt;!&ndash; Sidebar/menu &ndash;&gt;
<nav class="w3-sidebar w3-bar-block w3-gray w3-animate-left w3-text-white w3-collapse w3-top w3-center"
     style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
    <h1 class="w3-padding-64 w3-center"><b> Seller <br>Ticket</b></h1>
    <a class="w3-bar-item w3-button bt" th:href="@{/conductor-view-all-tickets-booked}">View tickets</a>
    <a class="w3-bar-item w3-button bt" th:href="@{/conductor/search_bus}">View seats</a>
    <p>
        <a th:href="@{/logout}">
            <button class="w3-button w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom">
                Logout
            </button>
        </a>
    </p>
</nav>

</body>-->

<head>
    <title>SELLER PAGE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <style>
        * {
            font-size: 25px;
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", Arial, Helvetica, sans-serif
        }

        a {
            text-decoration: none !important;
        }

        a:hover {
            background-color: turquoise !important;
        }

        .navedit {

            position: fixed;
            margin-top: 0;
            z-index: 3;

        }

        .imageedit {
            margin-top: 50px;
        }
    </style>
</head>

<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-black w3-xlarge navedit">
    <a th:href="@{/conductor/home}" class="w3-bar-item w3-button w3-red w3-mobile"><i
            class="fa fa-bed w3-margin-right"></i><b>Ticket
        Bus </b>SELLER </a>
    <div id="panel">
        <a th:href="@{/conductor-view-all-tickets-booked}" class="w3-bar-item w3-button w3-mobile ">Manage tickets</a>
        <a th:href="@{/conductor/search_bus}" class="w3-bar-item w3-button w3-mobile ">Manage seats</a>
    </div>
    <a th:href="@{/logout}" class="w3-bar-item w3-button w3-right w3-black w3-mobile">LOGOUT</a>


</div>
<!-- Header -->
<header class="w3-display-container w3-content headeredit" style="max-width:1500px;">
    <img class="w3-image imageedit" th:src="@{/img/bus2.png}" alt="The Hotel" style="min-width:1000px" width="1500"
         height="600">
    <div class="w3-display-left w3-padding w3-col l6 m8">
        <div class="w3-container w3-red">
            <h2><i class="fa fa-bed w3-margin-right"></i>SELLER MANAGER:</h2>
        </div>
        <div class="w3-container w3-white w3-padding-16">
            <form action="" target="_blank">
                <div class="w3-row-padding" style="margin:0 -16px;">
                    <div class="w3-half w3-margin-bottom">
                        <a class="dropdown-item" th:href="@{/conductor-view-all-tickets-booked}">View tickets</a>
                    </div>
                    <div class=" w3-half">
                        <a class="dropdown-item .bg-primary" th:href="@{/conductor/search_bus}">View seats</a>
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:8px -16px;">
                    <div class="w3-half w3-margin-bottom">
                        <a class="dropdown-item" href="#">Your messages</a>
                    </div>
                    <div class="w3-half">
                        <a class="dropdown-item" href="#">News of Company</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

    <div class="w3-container w3-margin-top" id="rooms">
        <h3>Ticket</h3>
        <p>You won't return a ticket for us, if you buy a ticket. Thanks a lot.
        </p>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col m2">
            <label><i class="fa fa-male"></i>START</label>
            <input class="w3-input w3-border" type="text" placeholder="HỒ CHÍ MINH">
        </div>
        <div class="w3-col m2">
            <label><i class="fa fa-child"></i>END</label>
            <input class="w3-input w3-border" type="text" placeholder="HÀ NỘI">
        </div>
        <div class="w3-col m3">
            <label><i class="fa fa-calendar-o"></i>DATE</label>
            <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY">
        </div>


        <div class="w3-col m2">
            <label><i class="fa fa-search"></i> Search</label>
            <button class="w3-button w3-block w3-black">Search</button>
        </div>
    </div>


    <div class="w3-container w3-padding-32 w3-black w3-opacity w3-card w3-hover-opacity-off" style="margin:32px 0;">
        <h2>Get the best offers first!</h2>
        <p>Join our newsletter.</p>
        <label>E-mail</label>
        <input class="w3-input w3-border" type="text" placeholder="Your Email address">
        <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
    </div>

    <div class="w3-container" id="contact">
        <h2>Contact</h2>
        <p>If you have any questions, do not hesitate to ask them.</p>
        <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> Chicago, US<br>
        <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: mail@mail.com<br>
        <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name">
            </p>
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required
                      name="Email"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required
                      name="Message"></p>
            <p>
                <button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button>
            </p>
        </form>
    </div>

    <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Find Us On</h5>
    <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Copyright by @ 2020 <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"
                              class="w3-hover-text-green">Ticket BUS</a></p>
</footer>


</body>

</html>